{% extends "base.html" %}
{% block content %}    
    <div id="url_form">
        <h1>10Play Downloader</h1>
        <form action="{{url_for('recieve_url')}}" method="POST">
            <div class="mb-3 form-check">
            <input placeholder="url" type="text" id="url" name="url"><br><br>
            </div>
            <div class="mb-3 form-check">
            <button type="submit" class="btn btn-primary btn-block btn-large">Download</button>
            </div>
        </form>
    </div>
{% endblock %}